.sbol-visual {
    padding-bottom:3px;
    padding-left:3px;
    margin:auto;
}

.sbol-visual:after {
    display:block;
    clear:both;
    content:"";
}

.sbol-element {
    padding-left: 10px;
    padding-right: 10px;
    height:120px;
    min-width:50px;
    max-width:200px;
    float: left;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align:center;
    background-image: url("SVG/user-defined.svg");
    font-size: 12px;

}

.promoter { background-image: url("SVG/promoter.svg");}
.five-prime-overhang { background-image: url("SVG/five-prime-overhang.svg");}
.primer-binding-site { background-image: url("SVG/primer-binding-site.svg");}
.terminator { background-image: url("SVG/terminator.svg");}
.ribonuclease-site { background-image: url("SVG/ribonuclease-site.svg");}
.assembly-scar { background-image: url("SVG/assembly-scar.svg");}
.restriction-enzyme-recognition-site { background-image: url("SVG/restriction-enzyme-recognition-site.svg");}
.three-prime-overhang { background-image: url("SVG/three-prime-overhang.svg");}
.origin-of-replication { background-image: url("SVG/origin-of-replication.svg");}
.insulator { background-image: url("SVG/insulator.svg");}
.cds { background-image: url("SVG/cds.svg");}
.user-defined { background-image: url("SVG/user-defined.svg");}
.operator { background-image: url("SVG/operator.svg");}
.three-prime-sticky-restriction-site { background-image: url("SVG/three-prime-sticky-restriction-site.svg");}
.blunt-restriction-site { background-image: url("SVG/blunt-restriction-site.svg");}
.ribosome-entry-site { background-image: url("SVG/ribosome-entry-site.svg");}
.protease-site { background-image: url("SVG/protease-site.svg");}
.five-prime-sticky-restriction-site { background-image: url("SVG/five-prime-sticky-restriction-site.svg");}
.rna-stability-element { background-image: url("SVG/rna-stability-element.svg");}
.signature { background-image: url("SVG/signature.svg");}
.protein-stability-element { background-image: url("SVG/protein-stability-element.svg");}
