.sbol-visual {
    padding-bottom:3px;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.sbol-visual.centered {
    -webkit-justify-content: center;
    justify-content: center;
}


.sbolv {
    font-size: 12px;
    line-height:14px;
    padding-left: 10px;
    padding-right: 10px;
    height:120px;
    min-width:50px;
    max-width:200px;
    text-align:center;
    background-image: url("SVG/user-defined.svg");
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sbol-visual.inline {
    display: inline;
}

.sbol-visual.inline .sbolv {
    vertical-align: middle;
    font-size: 2em;
    background-size: auto 90%;
    background-position: 30% auto;

}

.sbolv.inline {
    vertical-align: middle;
    font-size: 2em;
    background-size: auto 90%;
    background-position: 30% auto;

}

.sbolv.inverted {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}
.sbol-visual.inverted .sbolv {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

.sbol-visual .combinatorial {
    outline: 1px solid gray;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:8px;
    margin-top:2px;
    height:100%;

}

.sbol-visual .combinatorial .sbol-visual {
    text-align: center;
}

.sbol-visual .combinatorial .sbolv {
    margin-top: -2px;
}

.antisense {
    -moz-transform: scaleX(-1) scaleY(-1);
    -o-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
}

.sbolv.promoter { background-image: url("SVG/promoter.svg");}
.sbolv.five-prime-overhang { background-image: url("SVG/five-prime-overhang.svg");}
.sbolv.primer-binding-site { background-image: url("SVG/primer-binding-site.svg");}
.sbolv.terminator { background-image: url("SVG/terminator.svg");}
.sbolv.ribonuclease-site { background-image: url("SVG/ribonuclease-site.svg");}
.sbolv.assembly-scar { background-image: url("SVG/assembly-scar.svg");}
.sbolv.restriction-enzyme-recognition-site { background-image: url("SVG/restriction-enzyme-recognition-site.svg");}
.sbolv.three-prime-overhang { background-image: url("SVG/three-prime-overhang.svg");}
.sbolv.origin-of-replication { background-image: url("SVG/origin-of-replication.svg");}
.sbolv.insulator { background-image: url("SVG/insulator.svg");}
.sbolv.cds { background-image: url("SVG/cds.svg");}
.sbolv.user-defined { background-image: url("SVG/user-defined.svg");}
.sbolv.operator { background-image: url("SVG/operator.svg");}
.sbolv.three-prime-sticky-restriction-site { background-image: url("SVG/three-prime-sticky-restriction-site.svg");}
.sbolv.blunt-restriction-site { background-image: url("SVG/blunt-restriction-site.svg");}
.sbolv.ribosome-entry-site { background-image: url("SVG/ribosome-entry-site.svg");}
.sbolv.protease-site { background-image: url("SVG/protease-site.svg");}
.sbolv.five-prime-sticky-restriction-site { background-image: url("SVG/five-prime-sticky-restriction-site.svg");}
.sbolv.rna-stability-element { background-image: url("SVG/rna-stability-element.svg");}
.sbolv.signature { background-image: url("SVG/signature.svg");}
.sbolv.protein-stability-element { background-image: url("SVG/protein-stability-element.svg");}
